body{
	font-family: 'Montserrat',sans-serif;
}
.linkBtn{
	border: none;
	background-color: unset;
	color: #ffc312;
	text-decoration: none;
	font-family: 'Montserrat',sans-serif;
}
.linkBtn:hover{
	text-decoration: none;
	cursor: pointer;
	color: #ffc312;
}

.topButtons{
	width:100%; 
	padding-bottom: 1%;
}
.yellowBtn{
	width: 90%;
	margin: auto;
	height: 5%;
	border-radius: 5px;
	padding: 5px;
	background-color: #ffc312;
	color: white;
	font-family: 'Montserrat',sans-serif;
	font-size: 16px;
	border:none;
	/*position: relative;
	left: 5%;*/
}
.yellowBtn:hover{
	cursor: pointer;
}
#iniPCount{
	width: 7%;
	margin: unset;
}
#addbtn{
	color: #ffc312;
	z-index:2;
	position: absolute;
	right: 0%;
}
.form-group{
	position: relative;
}
.selectloc{
	width: 30%;
}
.bottomBtn{
	z-index: 1;
	margin-bottom: 2%;
}
.delBtn
{
	border: none;
	background-color: white;
	color: #ff3f34;
	padding: 0 0;
	margin:0; 
	margin-left: 10%;
}
.bottomBtn{
	padding: 0%;
	width: 60%;
	margin: 0%; 
	height: 120%;
	position: absolute;
	right: 0%;
}
.bottomBtn:hover{
	background-color: #44bd32;
}
.secondaryBtn{
	width: 60%;
	margin: 0;
	height: 120%;
	border-radius: 5px;
	padding: 0;
	background-color: #ffffff;
	color: #2c3e50;
	border: 1px solid #2c3e50;
	font-family: 'Montserrat',sans-serif;
	font-size: 16px;
}
.secondaryBtn:hover{
	cursor: pointer;
}