/*ffc312*/
.formwindow
{
	
	width: 40%;
	margin: auto;
	transform: translateY(70%);
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 5%;
	padding-bottom: 5%;
	align-content: center;
	background-color: rgba(0,0,0,0.17);
	background-color: rgba(255,255,255,0.2);
}
.formbg
{
	background-image: url("images/FormBg.jpg");
	background-size: cover;
}