/*yellow: #ffc312
light grey: #eaeaea
dark grey: #555555*/
.body{
	margin: 0px;
}
.full-container{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
.center-container{
	position: relative;
	width: 80%;
	height: 90vh;
	margin: auto;
	overflow-y: hidden;
}
.formWindow
{
	width: 40%;
    height: auto;
    margin: auto;
    padding: 4% 2%;
    align-content: center;
    top: 10%;
    position: relative;
	
}

.formbg
{
	background-image: url("images/dark.jpg");
	background-size: cover;
}
#userLoginWindow{
	background-color: rgba(0,0,0,0.2);
}
#adminLoginWindow{

}
#userRegisterWindow{
	background-color: rgba(0,0,0,0.2);
}
.label{
	font-family: Tahoma;
	font-size: 14px;
	color: white;
}
.labelInvert{
	font-family: Tahoma;
	font-size: 14px;
	color: #555555;
}
.formText{
	color: #eaeaea;
	font-family: Tahoma;
	font-size: 14px;
	text-align: center;
}
p{
	padding: 5px;
}
input:not(.yellowBtn){
	width: 70%;
	height: 5%;
	border-radius: 5px;
	padding: 5px;
	float: right;
}
.userFormInput{
	border:0.5px solid white;
	background-color: unset;
}
.adminFormInput{
border:0.5px solid lightgrey;
}

.yellowBtn{
	width: 90%;
	margin: auto;
	height: 5%;
	border-radius: 5px;
	padding: 5px;
	background-color: #ffc312;
	color: white;
	font-family: Tahoma;
	font-size: 16px;
	border:none;
	position: relative;
	left: 5%;
}
.yellowBtn:hover{
	cursor: pointer;
}
.secondaryBtn{
	width: 90%;
	margin: auto;
	height: 5%;
	border-radius: 5px;
	padding: 5px;
	background-color: #ffffff;
	color: #111111;
	border: 1px solid #111111;
	font-family: Tahoma;
	font-size: 16px;
	position: relative;
	left: 5%;
}
.secondaryBtn:hover{
	cursor: pointer;
	background-color: #111111;
	color: #ffffff;
	border: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgrey;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgrey;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: lightgrey;
}
.heading{
	font-family: Tahoma;
	font-weight: bolder;
	font-size: 30px;
	margin: 0;
}
.forgotPasswd{
	float: right;
}
.survey{
	background-color: #111111;
	color: #ffffff;
	padding: 2%;
}
.surveyText{
	width: 50%;
	text-align: center;
	display: inline;
}
.surveyBtn{
	width: 20%;
	display: inline;
	float: right;
}
.viewAllBtn{
	width: 15%;
	display: inline;
	float: right;
}
.header{
	background-color: #ffffff;
	color: #111111;
	padding: 2%;
}
.headingText{
	width: 50%;
	text-align: center;
	display: inline;
	font-weight: bolder;
	color: #111111;
	font-size: 24px;
}
.joinBtn {
    width: 20%;
    display: inline;
    float: right;
    margin: unset;
    left: -2%;
}
.downloadFile{
	text-decoration: none;
	color: #ffc312;
}
#terms{
	font-family: Tahoma;
	color: #898989;
	font-size: 12px;
}
.modalText{
	font-size: 16px;
	font-family: Tahoma;
	color: #555555;
	margin: 5%;
}